# if you run through elmsln-preinstall.sh it will generate this file template
# university / institution deploying this instance
university='youruniversityabrev'
host='yu'
emailending='YOURUNIT.edu'
address='YOURUNIT.edu'
serviceaddress='services.YOURUNIT.edu'
serviceprefix='data.'
protocol="https"
# email that the site uses to send mail
site_email=admin@$emailending
# administrator e-mail or alias
admin=admin@$emailending

# database superuser credentials
dbsu=root
dbsupw=password
# www user, what does apache run as? www-data and apache are common
wwwuser=apache
# webgroup, usually admin if sharing with other developers else leave root
webgroup=root

# uncomment the following if you are not using SSO
#send_requester_pw=yes
# where is elmsln installed, not recommended to move from here
elmsln=/var/www/elmsln

# these vars shouldn't need changing if $elmsln is set properly
webdir=$elmsln/domains
# jobs location where job files write to
fileloc=$elmsln/config/jobs
# hosts to allow split groups of elmsln based on college / group
hostfile=$elmsln/config/scripts/drush-create-site/hosts
# compiled drupal "stacks"
stacks=$elmsln/core/dslmcode/stacks
# location of drupal private files
drupal_priv=$elmsln/config/private_files
# configsdir
configsdir=$elmsln/config
